<h2>Login</h2>
<form action="/login" method="post">
    <div>
      <label for="username">Username:</label>
      <input id="username" type="text" name="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password">
    </div>
    <div>
      <input type="submit" value="Login">
    </div>
</form>
<p>
  <a id="create" href="/signup" >Create an Account &rarr;</a>
  <script>
    var myVar = <%- myVar %> || false;
    console.log(myVar);
    if(myVar){
      //Alert the user of the wrong credentials
      window.alert('You have entered the wrong credentials');
      //document.getElementById("create").style.visibility = "hidden";
    }
  </script>

<p>
  <div>
  </div>
